html {
    height: 100%;
}

body {
    background-image: linear-gradient(rgb(16, 184, 175), rgb(212, 196, 147));
    font-family: 'roboto';
    color: #fff;
    font-size: 1.25rem;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 64rem;
    min-height: 18.75rem;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.nav-links li {
    margin-top: 0;
    display: inline-block;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    list-style: none;
}


main {
    min-height: 18.75rem;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1,
.card2,
.card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    border-radius: 5px;
}

.card1 {
    background-image: url(img/blue-sky.jpg);
    background-size: cover;
    background-position: bottom;
    background-color: cornflowerblue;
    min-height: 250px;
    width: 30%;
}

.card2 {
    background-image: url(img/sitting.jpg);
    background-size: cover;
    background-position: bottom;
    background-color: rgb(185, 199, 224);
    min-height: 250px;
    width: 30%;
}

.card3 {
    background-image: url(img/sunset.jpg);
    background-size: cover;
    background-position: bottom;
    background-color: rgb(44, 66, 107);
    min-height: 250px;
    width: 30%;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 10px;
}

.cards i {
    font-size: 100px;
}


h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
}

h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}


.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox1 p {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.herobox2 {
    flex: 1;
}

.herobox2 img {
    border-radius: 5px;
}

.card i {
    font-size: 100px;
}

.btn {
    color: #606060;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #fff;
}

/* footer {
    background-color: rgb(209, 160, 143);
    min-height: 100px;
    text-align: center;
} */